@mixin withScrollbar($width: 6px, $color: #32465a) {
  &::-webkit-scrollbar
    {
      width: $width;
      background-color: #F5F5F5;
      &-track
      {
        -webkit-box-shadow: inset 0 0 $width rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }
      &-thumb
      {
        background-color: $color;
      }
    }
}
