@charset 'utf-8';
:root {
    --main-bg-color: #dae8c0;
    --header-color: #0f1b07;
    --selected-header-color: #c6d166;
    --text-color: #5c821a
}

body {
    font-family: Montserrat, Arial;
    font-size: .9em;
    margin: 0;
    background-color: var(--main-bg-color)
}

button {
    background-color: var(--header-color);
    border-color: var(--header-color);
    color: var(--selected-header-color);
    border: 1px solid;
    padding: .2em
}

button:hover {
    border-color: var(--selected-header-color)
}

button:disabled {
    cursor: not-allowed
}

#console {
    background-color: #000;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 700
}

#content {
    padding-left: 5%;
    padding-right: 5%
}

@media all and (color) and (max-width:999px) {
    #console {
        font-size: 10px
    }
    #content {
        padding: 0
    }
}